$input-container--background-color:     $white !default;
$input-container--color:                $gray-dark-3 !default;
$input-container--border-color:         $gray-light-2 !default;
$input-container--border-radius:        2px !default;
$input-container--padding:              1rem !default;

$input-container--focus--border-color:  $gray-light-1 !default;
